[
  {
    title: "Geisinger-local"
    group: "Doyle"
    paths: [
      "~/research/doyle/eosloan/geisinger"
    ]
  }
  {
    title: "Geisinger-remote"
    group: "Doyle"
    paths: [
      "/run/user/1000/gvfs/sftp:host=eosloan.mit.edu,user=barronk/home/barronk/projects/jjdoyle.med_proj/geisinger"
    ]
  }
  {
    title: "VA Goals of Care"
    group: "Doyle"
    paths: [
      "~/research/doyle/va/goals_of_care"
    ]
  }
  {
    title: "Language Stata"
    group: "Atom"
    paths: [
      "~/github/atom/language-stata"
    ]
  }
  {
    title: "Airbnb Ztrax"
    group: "Personal"
    paths: [
      "~/research/personal/airbnb-ztrax"
    ]
  }
  {
    title: "Airbnb Personal"
    group: "Personal"
    paths: [
      "~/research/personal/airbnb-personal"
    ]
  }
  {
    title: "Airbnb Old"
    group: "Personal"
    paths: [
      "~/Dropbox (MIT)/Airbnb Project"
    ]
  }
  {
    title: "Lib"
    group: "Doyle"
    paths: [
      "~/lib"
    ]
  }
  {
    title: "Linux Setup"
    paths: [
      "~/github/config/linux_setup"
    ]
  }
  {
    title: "Language R"
    group: "Personal"
    paths: [
      "~/github/atom/language-r"
      "~/github/atom/language-stata"
      "~/github/atom/language-python"
    ]
  }
  {
    title: "Dotfiles"
    group: "Config"
    paths: [
      "~/github/config/dotfiles"
    ]
  }
  {
    title: "Website"
    paths: [
      "~/Documents/kylebarron.github.io"
    ]
  }
  {
    title: "Stata Exec"
    paths: [
      "~/github/atom/stata-exec"
    ]
  }
]
